header {
  width: 500px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: darkblue;
  text-align: center;
}
#title {
  padding-top: 8px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
body {
  cursor: default;
}
main {
  width: 500px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: lightsteelblue;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
input {
  height: 20px;
  font-size: 18px;
  cursor: text;
}
input[type="radio"] {
  transform: scale(1.3);
  cursor: pointer;
}
.ok {
  color: green;
}
.error{
  color: crimson;
}
#go {
  width: 90px;
  height: 30px;
  background-color: darkblue;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
#go:hover {
  background-color: blue;
  border-bottom: 1px 1px 1px 1px white;
  font-size: 19px;
  transition: .1s;
  color: white;
}
#display-weather {
  height: fit-content;
  width: 100%;
}
.day {
  color: black;
}
.night {
  color: lightyellow;
}
.focus {
  font-size: 28px;
}
footer {
  width: 500px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: darkblue;
  text-align: center;
  color: white;
}
